@import '../../assets/colors';
@import '../../assets/print_sizes';


#page_presentation{

  .round-image img{
    border-radius: 100%;
    height: 60%;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
  }

  h1{
    font-size: 4rem;
  }

  .presentation{
    text-align: center;
    padding: 5%;

    .left-col{
      border-right: 1px solid white;
    }

    .right-col{
      .infos-contact{
        font-size: 2rem;
        line-height:4rem;
        margin: auto;
        transition: 0.5s;
        padding-bottom: 8%;
        padding-top: 4%;

        .title{
          font-size: 3rem;
        }

        .icons-contact{
          font-size: 4rem;
          margin-top: 15px;

          a{
            margin: 2%;
          }

          a:hover{
          }
        }
      }
    }
  }
}



